
@model  FinalProject.Models.ViewModels.IndexVM
@using (Ajax.BeginForm("Login", "Account", null, new AjaxOptions() { HttpMethod = "POST", LoadingElementId = "Regicon", OnSuccess = "closeform()", OnFailure = "openform()" }, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    if (ViewBag.message != null)
    {
        <div class="alert alert-success">@ViewBag.message</div>
    }
    <div class="form-group col-12">
        @Html.LabelFor(m => m.LoginViewModel.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.LoginViewModel.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.LoginViewModel.Email, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group col-12">
        @Html.LabelFor(m => m.LoginViewModel.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.LoginViewModel.Password, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.LoginViewModel.Password, "", new { @class = "text-danger" })
            @Html.ValidationMessage("")
        </div>
    </div>
    <div class="form-group col-12">
        <div class="col-md-offset-2 col-md-10">
            <div class="checkbox">
                @Html.CheckBoxFor(m => m.LoginViewModel.RememberMe)
                @Html.LabelFor(m => m.LoginViewModel.RememberMe)
            </div>
        </div>
    </div>
    <div class="form-group col-12">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Log in" class="btn btn-default" />
        </div>
    </div>
    <p>
        @Ajax.ActionLink("Register A New User", "Register", "Account", null,
                                              new AjaxOptions() { UpdateTargetId = "Activpopup", InsertionMode = InsertionMode.Replace, OnSuccess = "openform()", HttpMethod = "GET", LoadingElementId = "icoon" },
                                              new { @class = "nav-link" })
        @*@Html.ActionLink("Register as a new user", "Register")*@
    </p>
    //Enable this once you have account confirmation enabled for password reset functionality
    <p>
        @Html.ActionLink("Forgot your password?", "ForgotPassword")
    </p>
}
