@model FinalProject.Models.ViewModels.ProfileVM
@{
    ViewBag.Title = "Change Password";
    Layout = null;
}

<h2>@ViewBag.Title.</h2>

@using (Ajax.BeginForm("ChangePassword", "Manage", null,
     new AjaxOptions() { InsertionMode = InsertionMode.Replace, UpdateTargetId = "ChangeEmail", HttpMethod = "POST", OnSuccess = "Opencolabse()", OnFailure = "alert(Somthing Wrong)" }, null))

{
    @Html.AntiForgeryToken()
    <h4>Change Password Form</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.ChangePasswordViewModel.OldPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ChangePasswordViewModel.OldPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ChangePasswordViewModel.NewPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ChangePasswordViewModel.NewPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ChangePasswordViewModel.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ChangePasswordViewModel.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Change password" class="btn btn-success" />
        </div>
    </div>
    @Html.ActionLink("Back", "profile", "Applicationusers")
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}